body {
    background-color: var(--light-gray);
}

.card {
    border: none;
    box-shadow: 1px 5px 5px grey;
}

.card>div:first-of-type {
    background-color: #1a1d21;
    border-radius: 5px 5px 0px 0px;
    color: white;
    text-align: center;
}

.card-img-top {
    height: 200px;
    width: 200px;
}

.dependancy {
    align-self: flex-end;
    color: var(--gray);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: regular;
    left: 10px;
    position: absolute;
    top: 5px;
}

input {
    border-radius: 3px;
    height: 50px;
    width: 1440px;
}

li {
    list-style: circle;
}

main i[class*="icon-"] {
    margin-right: 6px;
}

.type {
    align-self: flex-end;
    color: #7e7e7e;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    font-weight: 700;
    left: 10px;
    position: absolute;
    top: 182px;
    text-transform: uppercase;
}